CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs/terminal_game/FileContentIndex/6f90e0dd-f2c0-4010-b9b8-bdedc5bebb7c.vsidx
*.vsidx
.vs/ProjectSettings.json
.vs/terminal_game/FileContentIndex/read.lock
.vs/terminal_game/v17/.suo
.vs/slnx.sqlite
.vs/terminal_game/v17/Browse.VC.db
.vs/terminal_game/v17/Browse.VC.db-shm
.vs/terminal_game/v17/Browse.VC.db-wal
*.opendb
*.ipch
